.background{
    background-color:black;
    text-align: center;
}
.maucam{
    color: greenyellow;
}
//.white{
    color:white;
}



// this is comment 
// this is comment1
// this is comment2
// this is comment3
// this is comment4
